* { box-sizing: border-box; }

ul {
  background-color: skyblue;
  padding: 0;
  position: absolute;
}

a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav > ul {
  
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > ul {
  background-color: rgb(121, 185, 211);
  list-style: none;
  padding: 0;
  display: none;
}

nav > ul > li:hover {
  background-color: rgb(121, 185, 211);
  
}

nav > ul > li:hover > ul {
  background-color: rgb(185, 211, 121);
  display: block;
}

